extends pug/extends/master

block content
	section.section-results
		.subsection.view-parameters
			.container
				ul.view-switchers
					li
						a(href="#", data-view="grid").icon.icon-grid.active
					li
						a(href="#", data-view="list").icon.icon-list
		.subsection.view-results
			.container
				ul.results-list
					li
						.result-box
							.result-image
								img(src="images/img01.jpg", alt="Image description", width="291", height="292")
							.result-content
								div
									strong.title Today
									dl
										dt
											span.icon.icon-heart
										dd 128
										dt
											span.icon.icon-message
										dd 31
								div
									strong.title 9-08-2016
									dl
										dt
											span.icon.icon-heart
										dd 67
										dt
											span.icon.icon-message
										dd 22
								div
									strong.title Image upload
									time(datetime="2016-04-11") 11-04-2016
					li
						.result-box
							.result-image
								img(src="images/img02.jpg", alt="Image description", width="291", height="292")
							.result-content
								div
									strong.title Today
									dl
										dt
											span.icon.icon-heart
										dd 128
										dt
											span.icon.icon-message
										dd 31
								div
									strong.title 9-08-2016
									dl
										dt
											span.icon.icon-heart
										dd 67
										dt
											span.icon.icon-message
										dd 22
								div
									strong.title Image upload
									time(datetime="2016-04-11") 11-04-2016
					li
						.result-box.is-video
							.result-image
								img(src="images/img03.jpg", alt="Image description", width="291", height="292")
							.result-content
								div
									strong.title Today
									dl
										dt
											span.icon.icon-heart
										dd 128
										dt
											span.icon.icon-message
										dd 31
								div
									strong.title 9-08-2016
									dl
										dt
											span.icon.icon-heart
										dd 67
										dt
											span.icon.icon-message
										dd 22
								div
									strong.title Image upload
									time(datetime="2016-04-11") 11-04-2016
					li
						.result-box
							.result-image
								img(src="images/img04.jpg", alt="Image description", width="291", height="292")
							.result-content
								div
									strong.title Today
									dl
										dt
											span.icon.icon-heart
										dd 128
										dt
											span.icon.icon-message
										dd 31
								div
									strong.title 9-08-2016
									dl
										dt
											span.icon.icon-heart
										dd 67
										dt
											span.icon.icon-message
										dd 22
								div
									strong.title Image upload
									time(datetime="2016-04-11") 11-04-2016
					li
						.result-box
							.result-image
								img(src="images/img05.jpg", alt="Image description", width="291", height="292")
							.result-content
								div
									strong.title Today
									dl
										dt
											span.icon.icon-heart
										dd 128
										dt
											span.icon.icon-message
										dd 31
								div
									strong.title 9-08-2016
									dl
										dt
											span.icon.icon-heart
										dd 67
										dt
											span.icon.icon-message
										dd 22
								div
									strong.title Image upload
									time(datetime="2016-04-11") 11-04-2016
					li
						.result-box
							.result-image
								img(src="images/img06.jpg", alt="Image description", width="291", height="292")
							.result-content
								div
									strong.title Today
									dl
										dt
											span.icon.icon-heart
										dd 128
										dt
											span.icon.icon-message
										dd 31
								div
									strong.title 9-08-2016
									dl
										dt
											span.icon.icon-heart
										dd 67
										dt
											span.icon.icon-message
										dd 22
								div
									strong.title Image upload
									time(datetime="2016-04-11") 11-04-2016
					li
						.result-box
							.result-image
								img(src="images/img07.jpg", alt="Image description", width="291", height="292")
							.result-content
								div
									strong.title Today
									dl
										dt
											span.icon.icon-heart
										dd 128
										dt
											span.icon.icon-message
										dd 31
								div
									strong.title 9-08-2016
									dl
										dt
											span.icon.icon-heart
										dd 67
										dt
											span.icon.icon-message
										dd 22
								div
									strong.title Image upload
									time(datetime="2016-04-11") 11-04-2016
					li
						.result-box
							.result-image
								img(src="images/img08.jpg", alt="Image description", width="291", height="292")
							.result-content
								div
									strong.title Today
									dl
										dt
											span.icon.icon-heart
										dd 128
										dt
											span.icon.icon-message
										dd 31
								div
									strong.title 9-08-2016
									dl
										dt
											span.icon.icon-heart
										dd 67
										dt
											span.icon.icon-message
										dd 22
								div
									strong.title Image upload
									time(datetime="2016-04-11") 11-04-2016
					li
						.result-box
							.result-image
								img(src="images/img09.jpg", alt="Image description", width="291", height="292")
							.result-content
								div
									strong.title Today
									dl
										dt
											span.icon.icon-heart
										dd 128
										dt
											span.icon.icon-message
										dd 31
								div
									strong.title 9-08-2016
									dl
										dt
											span.icon.icon-heart
										dd 67
										dt
											span.icon.icon-message
										dd 22
								div
									strong.title Image upload
									time(datetime="2016-04-11") 11-04-2016
				.button-holder.text-center
					a(href="#").btn Load more